<div class="col-xs-2 col-xs-offset-5">
  <img src="/assets/images/piggy.png" class="img-responsive" with="100" height="100"/>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th *ngFor="let month of months">{{month}}</th>
    </thead>
    <tbody>
      <tr *ngFor="let person of people">
        <td>{{person.FullName}}</td>
        <td class="text-xs-center" *ngFor="let weight of person.Weights">
          <input class="text-xs-center" (change)="changeValue(people)" [(ngModel)]="weight.Kg" />
        </td>
      </tr>
    </tbody>
  </table>
</div>